PORT=6001

# PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/db_donasi?schema=public"

# MinIO Config
MINIO_ENDPOINT="https://storage.localhost.com"
MINIO_USERNAME="xxxxxxxxxxxxxxxxx"
MINIO_PASSWORD="xxxxxxxxxxxxxxxxxx"
MINIO_BUCKET_NAME="web-donasi"
MINIO_PUBLIC_URL="https://xxxx.com"